@(nodes:Seq[db.Tables.NodesRow], unassignedPlants:Seq[db.Tables.PlantsRow], ajax:Boolean = false)

@plantDropdown(node:db.Tables.NodesRow, plants:Seq[db.Tables.PlantsRow]) = {
    <select class="node-plant-selector" data-node-id="@node.id">
        @plants.map { plant =>
          <option value="@plant.id">@plant.name</option>
        }
    </select>
}

@contentWrap() {

    <div class="large-12 columns">
        <h1>Nodes</h1>

        <p>
            This page lists all nodes that have registered themselves with the dashboard.
            It also allows you to assign a plant that is being monitored to each node.
        </p>

        <table>
            <thead>
                <tr>
                    <th>Hardware Identifier</th>
                    <th>IP</th>
                    <th>Port</th>
                    <th>Assigned plant</th>
                </tr>
            </thead>
            <tbody>
                @nodes.map { node =>
                    <tr>
                        <td>@node.hardwareIdentifier</td>
                        <td>@node.address</td>
                        <td>@node.port</td>
                        <td>@plantDropdown(node, unassignedPlants)</td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
}
