@(nodes:Seq[db.Tables.NodesRow], unassignedPlants:Seq[db.Tables.PlantsRow], ajax:Boolean = false)

@plantDropdown(node:db.Tables.NodesRow, plants:Seq[db.Tables.PlantsRow]) = {
    <select class="node-plant-selector" data-node-id="@node.id">
        <option value="-1" @plantSelected(node, null)>None</option>
        @plants.map { plant =>
          <option value="@plant.id" @plantSelected(node, plant)>@plant.name</option>
        }
    </select>
}

@plantSelected(node:db.Tables.NodesRow, plant:db.Tables.PlantsRow) = {
    @if((plant == null && node.plantId.isEmpty) || (node.plantId.isDefined && plant != null && node.plantId.get == plant.id)) {
        selected="selected"
    }
}

@contentWrap(ajax) {

    <div class="large-12 columns" id="nodeList">
        <h1>Nodes</h1>

        <p>
            All nodes that have registered themselves with the dashboard.<br> Assign a
            plant that is being monitored to each node.
        </p>

        <table>
            <thead>
                <tr>
                    <th>Hardware Identifier</th>
                    <th>IP</th>
                    <th>Port</th>
                    <th>Assigned plant</th>
                </tr>
            </thead>
            <tbody>
                @nodes.map { node =>
                    <tr>
                        <td>@node.hardwareIdentifier</td>
                        <td>@node.address</td>
                        <td>@node.port</td>
                        <td>@plantDropdown(node, unassignedPlants)</td>
                    </tr>
                }
            </tbody>
        </table>




    </div>
}
