@(ajax:Boolean = false)(content: Html)

@if(ajax) {
    @content
} else {
    @main() {

        <div class="row" id="mainContainer">
            <div class="large-12 columns">

                @header()

                <div class="row">
                    <div class="large-12 columns">
                        <div class="row">

                        @content

                        </div>
                    </div>
                </div>

                @footer()

            </div>
        </div>

    }
}
