<footer class="row">
    <div class="large-12 columns"><hr/>
        <div class="row">
            <div class="large-12 columns">
                <div class="panel">
                    <div class="row">

                        <div class="large-2 small-6 columns">
                            <img src="http://placehold.it/300x300&text=Site Owner">
                        </div>

                        <div class="large-10 small-6 columns">
                            <strong>This Site Is Managed By<hr/></strong>

                            Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="large-6 columns">
                <p>© Copyright no one at all. Go to town.</p>
            </div>

            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>