@import global.Global

<div class="row">
    <div class="large-12 columns">

        <nav class="top-bar" data-topbar>
            <ul class="title-area">

                <li class="name">
                    <h1>
                        <a href="/">
                            Watr.li Dashboard
                        </a>
                    </h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul>

            <section class="top-bar-section">

                <ul class="right">
                    <li class="divider"></li>
                    <li><a href="/plants">List of plants</a></li>

                    <li class="divider"></li>
                    <li><a href="/nodes">List of nodes</a></li>

                    <li class="divider"></li>
                    <li><a href="/plants/create">Create new plant</a></li>
                </ul>
            </section>
        </nav>

    </div>
</div>
