@(plants: List[Int])

@plant() = {
    <div class="large-4 small-6 columns">
        <img src="http://placehold.it/500x500&text=Thumbnail">

        <div class="panel">
            <h5>Item Name</h5>
            <h6 class="subheader">$000.00</h6>
        </div>
    </div>
}

@main("Welcome to Play") {


    <div class="row">
        <div class="large-12 columns">

           @header()

            <div class="row">
                <div class="large-12 columns">
                    <div class="row">
                        @plants.map { i =>
                            @plant()
                        }
                    </div>
                </div>
            </div>


            @footer()

        </div>
    </div>

}
